.expertise {
    padding: 25px;
}
.heading-title {
    font-size: 26px;
    font-weight: 600;
    color: #4d4d4d;
}
.sub-heading-title {
    font-size: 18px;
    font-weight: 400;
    color: #4d4d4d;
    width: 65%;
}
.text-highlight {
    color: #06394b;
}
.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.card {
    flex: 0 0 calc(20% - 10px); /* 20% width with a 10px gap */
    max-width: calc(20% - 10px);
    box-sizing: border-box;
    border-radius: 10px;
    /* Gradient colors */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card2 {
    flex: 0 0 calc(50% - 10px); /* 20% width with a 10px gap */
    max-width: calc(50% - 10px);
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px;
    gap: 15px;
    border-radius: 20px;
}
.model-icon-container {
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.yellow-color {
    background-color: #e0a447;
}

.green-color {
    background-color: #06394b;
}
.model-icon {
    fill: #fff;
    height: 30px;
}

.laravel-card {
    background: linear-gradient(45deg, #fcbcb2, #fff, #fcbcb2);
}

.react-card {
    background: linear-gradient(45deg, #99e6fc, #fff, #99e6fc);
}

.php-card {
    background: linear-gradient(45deg, #b1bfea, #fff, #b1bfea);
}
.android-card {
    background: linear-gradient(45deg, #a2ffee, #fff, #a2ffee);
}
.angular-card {
    background: linear-gradient(45deg, #f7a3a0, #fff, #f7a3a0);
}

.vue-card {
    background: linear-gradient(45deg, #a8fad6, #fff, #a8fad6);
}

.ecom-card {
    background: linear-gradient(45deg, #82d8f5, #fff, #82d8f5);
}

.wordpress-card {
    background: linear-gradient(45deg, #89d9f4, #fff, #89d9f4);
}

.node-card {
    background: linear-gradient(45deg, #a1cb95, #fff, #a1cb95);
}
.codeigniter-card {
    background: linear-gradient(45deg, #fec0b2, #fff, #fec0b2);
}
.expertise-img {
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
}
hr.hr-expertise {
    border-top: 1px solid rgb(168, 167, 167);
}

.expertise-label {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: #4d4d4d;
    font-family: "Poppins", sans-serif;
}
.model-heading {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #0c536c;
}
.model-sub-heading {
    font-size: 12px;
    color: #5b5959;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.arrow-icon {
    float: right;
    padding-right: 10px;
    color: #4d4d4d;
}
.expertise-desc {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    padding: 10px;
    color: #4d4d4d;
}

.industry-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.industry {
    width: calc(20% - 10px); /* 20% width with 10px gap between industries */
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
}

.industry img {
    max-width: 100%;
    height: auto;
}
.industry svg {
    width: 40px;
    height: 40px;
    fill: #4d4d4d;
}
.industry-name {
    margin: 0px;
    color: #4d4d4d;
}

svg:hover {
    fill: #06394b;
}
.contact-us-banner {
    background-image: linear-gradient(160deg, #06394b 0%, #79bedb 100%);
    background-color: #06394b;
    padding: 20px;
    text-align: center;
}
.build-header {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
}
.build-sub-header {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.banner-btn {
    margin-top: 15px;
}
.contact-us {
    display: flex;
}
.contact-us-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.contact-us-heading {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #4d4d4d;
}
.contact-us-sub-heading {
    color: #4d4d4d;
}

form {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #4d4d4d;
    font-family: "Poppins", sans-serif;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #06394b;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.contact-us-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}
.contact-details-svg img{
   width: 60%;
   margin-bottom: 30px;
}


.contact-container {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.contact-form, .contact-info {
    flex: 1;
    padding: 20px;
}

.contact-form h2 {
    margin-top: 0;
}

.contact-form p {
    color: #666;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

.contact-form button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #06394b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #0c536c;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact-info h2 {
    color: #0c536c;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.contact-info p  {
    margin: 0 !important;
    color: #5b5959;
    margin-bottom:20px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.contact-info .contact-details p, .social-media a {
    margin: 5px 0;
}

.social-media {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-media img {
    width: 30px;
    height: 30px;
}
.get-in-touch-text {
    padding: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.main-get-in-touch-text{
    font-size: 24px;
    
    font-weight: 600;
}
.white-space {
    height: 350px;
}
.input-error {
    border: 1px solid red !important;
}
.contact-wrapper-container{
    position: relative;
}
.blue-space {
    height: 200px;
}
.contact-container-2 {
    position: absolute;
    top: -580px;
}
.error {
    color: red;
    display: none;
}
.success-message {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.success-message-content {
    text-align: center;
}

.success-message h2 {
    color: #155724;
    margin-bottom: 10px;
}

.success-message p {
    color: #155724;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #155724;
}

.error-border {
    border-color: red;
}

@media (max-width: 767px) {
    .contact-container-2 {
        top: -900px;
    }
    .contact-container {
        flex-direction: column;
        padding: 0px;
    }
    .contact-details-svg img {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .white-space {
        height: 650px;
    }
    .contact-form {
        padding: 0;
    }
    .card {
        flex-basis: calc(
            50% - 10px
        ); /* 50% width with a 10px gap for smaller screens */
        max-width: calc(50% - 10px);
    }

    .contact-us-left-content {
        display: none;
    }
    
    .sub-heading-title {
        width:100%
    }

    .contact-us-left {
        width: 100%;
    }

    .contact-us {
        flex-direction: column;
    }

    .card2 {
        flex-basis: 100%; /* 50% width with a 10px gap for smaller screens */
        max-width: 90%;
    }

    .model-icon {
        height: 15px;
    }

    .model-heading {
        font-size: 12px;
    }

    .model-sub-heading {
        font-size: 7px;
    }

    .industry {
        width: calc(
            50% - 10px
        ); /* 50% width with 10px gap between industries for smaller screens */
    }

    .build-header {
        font-size: 34px;
    }
    .build-sub-header {
        font-size: 9px;
    }
}

@media (max-width: 479px) {
    .card {
        flex-basis: 100%; /* 100% width for screens smaller than 479px */
        max-width: 100%;
    }
}
