.portfolio {
    padding: 25px;
}
.heading-title {
    font-size: 26px;
    font-weight: 600;
    color: #4d4d4d;
}
.text-highlight {
    color: #06394b;
}
.filters {
    margin-top:15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.category-activated {
    color: #fff !important;
    background-color: #06394b;
}
.category:hover {
    color: #fff !important;
    background-color: #06394b;

}
.no-data-img{
  height: 300px;
}
.no-data{
  display: flex;
  width: 100%;
  justify-content: center;
}
.no-data-text{
  color: #06394b;
  text-align: center;
  font-size: 28px;
  width: 100%;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.category {
    cursor: pointer;
    color: #06394b;
    border-radius: 30px;
    border: 1px solid #06394b;
    padding: 5px 12px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.sub-heading-title {
    font-size: 18px;
    font-weight: 400;
    color: #4d4d4d;
    width: 65%;
}


  .card-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 10px;
  }

  .card {
    flex: 1 0 22%; /* Adjust as necessary */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width:25%;
    cursor: pointer;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-content {
    padding: 15px;
  }

  .card-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
  }
.card img {
    height: 300px;
    aspect-ratio: 1/1;
}
.card h3 {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.card p {
    margin: 0px;
}
  .card-content p {
    font-size: 14px;
    color: #666;
  }

/* portfolio detail css */

.portfolio-detail {
  display: flex; 
  gap: 30px;
  width: 100%;

}
.portfolio-images {
  background-color: #f1f1f1;
  padding: 25px;
  

}
.left-thumbnail-section {
  width: 40%;
}
.right-portfolio-details-section {
  width: 60%;
  font-family: "Poppins", sans-serif;

}
.right-portfolio-details-section h2 {
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
}

.right-portfolio-details-section p {
  font-size: 14px;
  text-align: justify;
}
.thumbnail-img {
  padding: 10px;
  border: 1px solid #06394b;
  border-radius: 10px;
}
.thumbnail-img img {
  width: 100%;
  border-radius: 10px;
}
.name-and-category{
  display: flex;
  flex-direction: column;
}
.name-and-category h5 {
  font-weight: 500;
  color: #666;
  padding: 0;
  margin: 0;
}

.portfolio-images-data {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.portfolio-images-data img {
  width: 200px;
  /* Fixed width for previews */
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ddd;
  padding: 2px;
}
.technologies-used{
  line-height: 35px;
}
  @media (max-width: 768px) {
    .portfolio-images-data img {
      width: 45%;
    }
    .card {
      flex-basis: 50%;
      max-width: 100%;
    }

    /* portfolio detail css  */
    .portfolio-detail {
     flex-direction: column;
    }
    .left-thumbnail-section {
      width: 100%;
    }
    .right-portfolio-details-section {
      width: 100%;
    }
    .right-portfolio-details-section h2 {
      margin-top: 0;
    }
  }

 